body {
    /*    BACKGROUND COLOR CHANGED WITH JAVASCRIPT*/
    /*    background-color: bisque;*/
    margin: 0;
    padding-top: 8%;
}

/*
.container .jumbotron {
    background-color: #8D9C85;
}
*/

.el {
    padding-right: 45%;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-top: 1%;

}


@media screen and (max-width: 1500px) {
    .el {
        /*        max-width: 10%;*/
        float: left;
    }
    .baras {
        /*        max-width: 50%;*/
        float: right;
        padding-right: 6%;
    }
}


/*RESPONSIVE NAVBAR ICON*/

.nav {
    padding-top: 1%;
    overflow: hidden;
    font-weight: bold;
}

.navbar > .container > .nav > a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*    font-size: 13px;*/
}

.navbar > .container > .nav > a:hover,
.navbar > .container > .nav > a:visited,
.navbar > .container > .nav > a:hover,
.navbar > .container > .nav > a:active {
    background-color: #337ab7;
}

.navbar > .container > .nav > .icon {
    display: none;
}

@media screen and (max-width: 1500px) {
    .navbar > .container > .nav > a:not(:first-child) {
        display: none;
    }
    .navbar > .container > .nav > a.icon {
        float: right;
        display: block;
    }

}

@media screen and (max-width: 1500px) {
    .navbar > .container > .nav > .responsive {
        position: relative;

        font-size: 18px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar > .container > .nav > .responsive > a > .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar > .container > .nav > .responsive > a {
        float: right;



        font-size: 18px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


    /*
       .baras{
        float: right;
    }
    .el{
        float: left;
*/
}

}



/*PROGRESS BAR color*/

div {
    color: black;
}

.stulp > .progress > .progress-bar {
    color: black;
    background-color: #337ab7;
}

h4,
h3 {
    text-align: center;
}

.line {
    border-bottom-width: medium;
    border-bottom-style: groove;
    border-bottom-color: black;
    margin-left: 40%;
    width: 20%;
}


.borderis {
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
    /*    color: #337ab7;*/
    padding: 8%;
    margin: -10%;
}

.foto {
    width: 70%;
}

.darbu-pvz {
    width: 86%;
}

/*
.contact{
    text-align: center;
}
*/

.cup {
    width: 7%;
}

.footeris {
    background-color: black;
}

.footerio-icon {
    padding-left: 45%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.data {
    padding-right: 85%;
    padding-bottom: 2%;
    padding-top: 1%;
}
