*,
body {
    font-family: 'Delius', cursive;

}

body {
    font-size: 14px;
    margin: 0;
    background-color: #71AFB0;
    padding-top: 10rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*NAVBAR*/

.navbar {
    padding-top: 2rem;
    min-height: 10rem;
    /*    padding-top: 0;*/
}

li a {
    letter-spacing: 0.3em;
    padding: 14px 16px;
    font-size: 2rem;
    font-weight: 500;
    color: gainsboro;
    text-transform: uppercase;
}

/*navbar burger*/

.navbar-toggle {
    background-color: skyblue;
}

.navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: gainsboro;
}


/*PROGRESS BAR color*/

.stulp > .progress > .progress-bar {
    color: black;
    background-color: #337ab7;
    font-size: 1.9rem;
}

h3 {
    text-align: center;
}

/*about*/

.jumbotron .row div h1 {
    font-size: 3.5rem;
}

.jumbotron .row div h2 {
    font-size: 2.5rem;
}

.line {
    border-bottom-width: medium;
    border-bottom-style: groove;
    border-bottom-color: black;
    margin-left: 40%;
    width: 20%;
}

.borderis {
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
    color: gainsboro;
    padding: 4px;
}

.foto {
    width: 70%;
    max-width: 60%;
}

.darbu-pvz {
    width: 86%;
}

.col-xs-6 {
    padding-bottom: 5%;
}

.inrow {
    display: inline-block;
}

.inrow div p,
.row div p {
    font-size: 2rem;
}

.footeris {
    background-color: black;
}

span {
    padding-right: 2%;
}

.contact .container .row div:nth-child(2) {
    text-align: center;
    padding-top: 5%;
}

.footerio-icon,
.lyg1 {
    display: grid;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.data {
    color: gainsboro;
}

.lyg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    ul {
        text-align: center;
    }
}

@media screen and (max-width: 391px) {
    span::after {
        content: "";
        display: table;
    }
}
